# editor
.idea
.vscode

# dependencies
**/node_modules
**/package-lock.json
**/yarn.lock

## logs
**/logs
**/*.log

## pnpm
.pnpm-store/

## build
**/dist
**/build

## temp
**/tmp
**/temp

## test
**/coverage

# misc
.DS_Store

## env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

## turbo
.turbo

## secrets
**/*.key
**/api.json

## uploads
**/uploads

## compressed
**/*.tgz

## vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

## other keys
*.key
*.keys
*.priv
*.rsa
*.key.json

## ssh keys
*.ssh
*.ssh-key
.key-mrc

## Certificate Authority
*.ca

## Certificate
*.crt

## Certificate Sign Request
*.csr

## Certificate
*.der 

## Key database file
*.kdb

## OSCP request data
*.org

## PKCS #12
*.p12

## PEM-encoded certificate data
*.pem

## Random number seed
*.rnd

## SSLeay data
*.ssleay

## S/MIME message
*.smime
*.vsix

*storybook.log
packages/server/src/migrations/multi-tenant/add_resource_fields_to_user_custom_roles.sql
packages/server/src/migrations/multi-tenant/check_applications_rls.sql
packages/server/src/migrations/multi-tenant/check_auth_custom_access_hook.sql
packages/server/src/migrations/multi-tenant/check_custom_access_hook.sql
packages/server/src/migrations/multi-tenant/check_hook_alt.sql
packages/server/src/migrations/multi-tenant/check_hook_enabled.sql
packages/server/src/migrations/multi-tenant/check_hook.sql
packages/server/src/migrations/multi-tenant/check_is_platform_admin_function.sql
packages/server/src/migrations/multi-tenant/check_is_platform_admin.sql
packages/server/src/migrations/multi-tenant/check_policy.sql
packages/server/src/migrations/multi-tenant/check_roles_table.sql
packages/server/src/migrations/multi-tenant/check_supabase_config.sql
packages/server/src/migrations/multi-tenant/check_supabase_hooks.sql
packages/server/src/migrations/multi-tenant/check_supabase_settings.sql
packages/server/src/migrations/multi-tenant/check_tables.sql
packages/server/src/migrations/multi-tenant/check_user_custom_roles.sql
packages/server/src/migrations/multi-tenant/create_default_app.sql
packages/server/src/migrations/multi-tenant/fix_superadmin.sql
packages/server/src/migrations/multi-tenant/fix_user_roles_view.sql
packages/server/src/migrations/multi-tenant/fix_user_roles.sql
packages/server/src/migrations/multi-tenant/register_hook.sql
packages/server/src/migrations/multi-tenant/update_applications_rls_policy.sql
packages/server/src/migrations/multi-tenant/update_is_platform_admin_function.sql
packages/server/src/migrations/multi-tenant/update_is_platform_admin.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/custom_access_hooks_changelog.md
packages/server/src/migrations/multi-tenant/custom_access_hooks/original_working.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/run_v5_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/run_v6_auth_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/run_v6_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v1_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v1_platform_admin_jwt_claim.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v2_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v3_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v4_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v5_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v6_auth_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v6_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v6_debug_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v6_simple_custom_access_token_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v7_reset_hook.sql
packages/server/src/migrations/multi-tenant/custom_access_hooks/v7_simple_auth_hook.sql
packages/server/src/migrations/multi-tenant/add_resource_fields_to_user_custom_roles.sql
packages/server/src/migrations/multi-tenant/check_applications_rls.sql
packages/server/src/migrations/multi-tenant/check_auth_custom_access_hook.sql
packages/server/src/migrations/multi-tenant/check_custom_access_hook.sql
packages/server/src/migrations/multi-tenant/check_hook_alt.sql
packages/server/src/migrations/multi-tenant/check_hook_enabled.sql
packages/server/src/migrations/multi-tenant/check_hook.sql
packages/server/src/migrations/multi-tenant/check_is_platform_admin_function.sql
packages/server/src/migrations/multi-tenant/check_is_platform_admin.sql
packages/server/src/migrations/multi-tenant/check_policy.sql
